.Oliver{
    height: 170vh;
    width: 100vw;
}
.Jorge{
    height: 50vh;
    width: 100vw;
}
.Dima{
    height: 130vh;
    width: 100vw;
}

body{
    width: 100vw;
}

.Karly{
    height: 200vh;
    width: 100vw;
}