.Oliver{
    height: 145vh;
    width: 100vw;
}
.Jorge{
    height: 70vh;


    width: 100vw;

}
.Dima{
    height: 150vh;
    width: 100vw;
}

body{
    width: 100vw;
}

.Karly{
    height: 220vh;
    width: 100vw;
}