.Oliver{
    height: 180vh;
    width: 100vw;
}
.Jorge{
    height: 100vh;

    width: 100vw;

}
.Dima{
    height: 150vh;
    width: 100vw;
}

body{
    width: 100vw;
}

.Karly{
    height: 200vh;
    width: 100vw;
}