body{
    height:25vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: #581845;
    color: white;
}
.pixelify-sans-text {
    align-self: center;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 680px;
  }
.derecha{
    align-self: flex-end;
}
button{
    background-color: black;
    color: white;
}
