h1{
    display: flex;
    
    /*align-items: center;*/
    
}
body{

   
    /*justify-content: center;*/
    background-color: #900c3f;

}

.color{
    color: white;
}
.pixelify-sans-text {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 280px;
  }