

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


body{

    background-color: #900c3f;
}

.color{
    color: white;
}

.pixelify-sans-text {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 680px;
  }
  img{
  width50%
  height50%
  float:left;
  }