body{
    background-color: #C70039;
    color: white;
    display: flex;
    justify-content: center;

}

.pixelify-sans-text {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 280px;
  }
  .texto_concepto{
    
  }