body{

    background-color: #FF5733;
    justify-content: center;
    padding: 80px;
    margin: 100px;
    color: white;
}
.titulo{
    font-size: 55px;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px; /* Asegura que el contenido no sea demasiado ancho */
    margin: auto; /* Centra el contenedor horizontalmente */
}

.titulo {
    font-size: 50px;
    color: aliceblue;

}
.pixelify-sans-text {

    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 680px;
    margin: 20px 0;
    font-size: 25px;
}

img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

  }
  h2{
     font-size: 55px;
     font-family: 'Moirai One', sans-serif;
  }