body{

    background-color: #FF5733;

    padding: 80px;
    margin: 100px;
    color: white;
}
.titulo{
    font-size: 55px;
    color: aliceblue;

}
.pixelify-sans-text {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 680px;

  }